/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Estilo do corpo principal */
main {
    padding: 20px;
    text-align: center;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
